/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   I pulled this from the guide to HTML/CSS that you provided on the application!
*/

/* 
* Referenced the following website for use of grid in organization of websites: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout
*/
.images {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
	border-radius: 25px
}

html {
	scroll-behavior: smooth;
}

/* 
* Sets the parameters of the header h1 element
*/
h1 {
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 180px;
	vertical-align: baseline;
    text-align: center;
    color: white;
}

/* 
* Sets the parameters of the header h2 element
*/
h2 {
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 100px;
	vertical-align: baseline;
    text-align: center;
    color: white;
}

/* 
* Sets the parameters of the header h5 element, but I don't use it as a header.
* I use this as an asset when I need to write in black text because p is set to write in white.
*/
h5{
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 30px;
	vertical-align: baseline;
    text-align: center;
    color: black;
}

/* 
* Sets the color of p
*/
p {
    font-size: 20px;
	color: white;
}

html, body, div, applet, object, iframe, h3, h4, h6, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* margin: 20px; */
	padding: 5px;
	border: 0;
	font-size: 16px;
	font-family: "Courier New", monospace;
	vertical-align: baseline;
    text-align: center;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 
* Here, I also attempted to set a background image but despite countless testing, could not figure out how to do it correctly.
*/
body {
	line-height: 1;
    background-color: #001502;
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.myButton {
	background-color: #3EE94B;
	color: #005204;
	border: none;
	cursor: pointer;

	/* handle button size */
	padding: 10px 20px;
	border-radius: 10px;

	/* handle text */
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
  
	transition: all 0.3s ease-in-out;  

}

#myName {
	background-color: rgba(0, 41, 4, 1);
	color: white;
	width: 100%;
	position:sticky;
	top: 0;
	border: 10px;
	padding: 10px;
}

.myButton:hover {
	background-color: #00AC10;
	transform: scale(1.1);
	}
  
.myButton:active {
	background-color: #008A0D;

}

.topButton {
	background-color: #3EE94B;
	color: #005204;
	border: none;
	cursor: pointer;

	/* handle button size */
	padding: 10px 20px;
	border-radius: 10px;

	/* handle text */
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
  
	transition: all 0.3s ease-in-out;  

}

.topButton:active {
	background-color: #008A0D;

}

#backtotop {
	transition: all 0.5s ease-in-out;
	transform: scale(1)
}

#backtotop:hover {
	transform: translateY(-5px);
	background-color: #00AC10;
}

#backtotop.scrolling {
	transition: transform 2s ease-in-out;
	transform: scale(250) rotate(45deg) translateY(-45%);
}

.hiddenVideo {
	display: none
}

/* Referenced from this website on flexboxes: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px
}

.container-item {
	margin: 0px
}

.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	padding: 10px;
	background: #001502;
	position: sticky;
	top: 0;
}
  
.navigation a {
	text-decoration: none;
	padding: 10px;
	color: white;
	border-radius: 10px;
	transition: all 0.2s ease-in;
}
  
.navigation a:hover {
	background: #00AC10;
}

#research {
	transition: color 0.2s ease-in-out;
	color: #3EE94B;

}

#research:hover {
	color: #00AC10;
	
}

#research:active {
	color: #008A0D
}

hr {
	padding:10px;
	border: 0px
}