/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   I pulled this from the guide to HTML/CSS that you provided on the application!
*/

/* 
* Referenced the following website for use of grid in organization of websites: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout
*/
.images {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/* 
* Sets the parameters of the header h1 element
*/
h1 {
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 30px;
	font-family: "Georgia", monospace;
	vertical-align: baseline;
    text-align: center;
    color: white;
}

/* 
* Sets the parameters of the header h2 element
*/
h2 {
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 25px;
	font-family: "Georgia", monospace;
	vertical-align: baseline;
    text-align: center;
    color: white;
}

/* 
* Sets the parameters of the header h5 element, but I don't use it as a header.
* I use this as an asset when I need to write in black text because p is set to write in white.
*/
h5{
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 16px;
	font-family: "Georgia", monospace;
	vertical-align: baseline;
    text-align: center;
    color: black;
}

/* 
* Sets the color of p
*/
p {
    color: white;
}

html, body, div, span, applet, object, iframe, h3, h4, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 16px;
	font-family: "Georgia", monospace;
	vertical-align: baseline;
    text-align: center;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 
* Here, I also attempted to set a background image but despite countless testing, could not figure out how to do it correctly.
*/
body {
	line-height: 1;
    background-color: black;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}