/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   I pulled this from the guide to HTML/CSS that you provided on the application!
*/

html {
	scroll-behavior: smooth;
}

/* 
* Sets the parameters of the header h1 element
*/
h1 {
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 10vw;
	vertical-align: baseline;
    text-align: center;
    color: #EBEBEB;
	opacity: 1;
	font-weight: bold;
}

/* 
* Sets the parameters of the header h2 element
*/
h2 {
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 8vw;
	vertical-align: baseline;
    text-align: center;
    color: #EBEBEB;
	font-weight: bold;
}

h3 {
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 6vw;
	vertical-align: baseline;
    text-align: center;
    color: #EBEBEB;
	font-weight: normal;
}

/* 
* Sets the parameters of the header h5 element, but I don't use it as a header.
* I use this as an asset when I need to write in black text because p is set to write in white.
*/
h5{
	margin: 20px;
	padding: 5px;
	border: 0;
	font-size: 4vw;
	vertical-align: baseline;
    text-align: center;
    color: #EBEBEB;
}

/* 
* Sets the color of p
*/
p {
	font-size: 2.1vw;
	color: #EBEBEB;
}


/* 
* Here, I also attempted to set a background image but despite countless testing, could not figure out how to do it correctly.
*/
body {
	line-height: 1;
    background-color: #002202;
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	
	padding: 5px;
	border: 0;
	font-size: 16px;
	font-family: "Courier New", monospace;
	vertical-align: baseline;
    text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.myButton {
	background-color: #3EE94B;
	color: #005204;
	border: none;
	cursor: pointer;

	/* handle button size */
	padding: 10px 20px;
	border-radius: 10px;

	/* handle text */
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
  
	transition: all 0.3s ease-in-out;  

}

#myName {
	background-color: rgba(0, 41, 4, 1);
	color: white;
	width: 100%;
	position:sticky;
	top: 0;
	border: 10px;
	padding: 10px;
}

.myButton:hover {
	background-color: #00AC10;
	transform: scale(1.1);
	}
  
.myButton:active {
	background-color: #008A0D;

}

.topButton {
	position: relative;
	z-index: 2;
	background-color: #3EE94B;
	color: #005204;
	border: none;
	cursor: pointer;

	/* handle button size */
	padding: 10px 20px;
	border-radius: 10px;

	/* handle text */
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
  
	transition: all 0.3s ease-in-out;  

}

.topButton:active {
	background-color: #008A0D;

}

#backtotop {
	transition: all 0.5s ease-in-out;
	transform: scale(1)
}

#backtotop:hover {
	transform: translateY(-5px);
	background-color: #00AC10;
}

#backtotop.scrolling {
	transition: transform 2s ease-in-out;
	transform: scale(250) rotate(45deg) translateY(-45%);
}

.hiddenVideo {
	display: none
}

/* Referenced from this website on flexboxes: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 0;
	transition: all 1s ease-in-out;
}

.containerLeft {
	transform: translateX(-100px);
}

.containerRight {
	transform: translateX(100px);
}

.container-item {
	transition: all 0.2s ease-in-out;
	flex: 1;
}

.container-item img {
	width: 100%;
	height: 100%;
	object-fit: cover
}

.container-item p {
	padding: 20px;
}

.navigation {
	z-index: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 20px;
	background: #002202;
	position: sticky;
	top: 0;
	border: 1px solid #EBEBEB
}
  
.navigation a {
	text-decoration: none;
	padding: 10px;
	margin: 3px;
	color: #EBEBEB;
	border-radius: 10px;
	transition: all 0.2s ease-in;
}
  
.navigation .destination:hover {
	background: #00AC10;
}

.inTextLink {
	transition: color 0.2s ease-in-out;
	color: #3EE94B;
	font-weight: bold;

}

.inTextLink:hover {
	color: #00AC10;
}

.inTextLink:active {
	color: #008A0D
}

hr {
	padding:2vw;
	border: 0px
}

/* https://blog.hubspot.com/website/css-fade-in */
.fadeIn {
	animation: fadeIn 1s
}

.fadeFast {
	animation: fadeIn 2s
}

.fadeSlow {
	animation: fadeIn 3s
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.glow {
	transition: box-shadow 0.2s ease-in-out;
	border-radius: 10%;
}

.glow:hover {
	box-shadow: 0 0 10px #009507;
}

.glow:active {
	transition: box-shadow 0s ease-in-out;
	box-shadow: 0 0 15px #00B308;
}

.interestsContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.interestsImage {
	width: 100%;
	border-radius: 10%;
	height: auto;
	display: block;
	transition: all 0.3s ease-in-out;
}

.interestsText {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10%;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
	color: #EBEBEB;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

#interest {
	position: relative;
	font-size: 2vw;
	margin: 10px;
	flex: 0 0 30%;
	transition: opacity 0.3s ease-in-out;
}

.wrapper:hover .interestsImage {
	transform: scale(1.1);
	box-shadow: 0 0 10px #009507;
}

.wrapper:hover .interestsText {
	transform: scale(1.1);
	opacity: 1;
}

.backgroundImage {
	background-image: url("/assets/images/work.png");
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
	color: #EBEBEB;
	padding: 200px;
	opacity:1;
  }

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#language {
	margin: 10px;
	flex: 0 0 20%;
}

#language img {
	transition: all 0.2s ease-in-out;
	width: 20vw;
	height: auto;
}

#language img:hover {
    transform: scale(1.1);
}

#code {
	margin: 10px;
	flex: 0 0 8%;
}

#code img {
	width: 8vw;
	height: auto;
	transition: all 0.2s ease-in-out;
}

#code img:hover {
	transform: scale(1.1);
}

.container-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socials {
	margin: 10px;
	flex: 0 0 1%;
}

.socials img {
	width: 4vw;
	height: auto;
	transition: all 0.2s ease-in-out;
}

.socials img:hover {
	transform: scale(1.1);
}

.container.scrollIn {
	transform: translateX(0);
	opacity: 1;
	
}

#spotify {
	flex: 0 0 20%
}

#spotify iframe {
	width: 30vw;
	height: auto;
	transition: all 0.2s ease-in-out;
}

#code iframe:hover {
	transform: scale(1.1);
}